<div class="container">
    <div  id="container"  fxLayout='row' fxLayoutGap="4px" *ngIf="!isTrashComponent">
        <div class="icons">
            <button class="buttons">
                <img class="icon" id="icon" src="../../../assets/Icons/bellicon.svg" width="20" height="20" alt="">
            </button>
        </div>
        <div class="icons">
            <button  class="buttons">
                <img class="icon" src="../../../assets/Icons/addimg.svg" width="20" height="20" alt="">
            </button>
        </div>

        <div class="icons">
            <button [matMenuTriggerFor]="aboveMenu" class="buttons" matTooltip="Change colour">
                <img class="icon" src="../../../assets/Icons/colourpallete.svg" width="20" height="20" alt="">
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                
                <div class="color-menu">

                
                <div *ngFor='let color of colors' class="color-menu" >
                   <button mat-menu-item  [style.background]="color?.code" style="padding: 0px;" class="color-button"  (click)="setColor(color.code)">
                      <mat-icon>circle</mat-icon>
                   </button>
                </div>
                </div>
             </mat-menu>
            </button>

        </div>

        <div class="icons">
            <button class="buttons">
                <img class="icon" src="../../../assets/Icons/img.svg" width="20" height="20" alt="">
            </button>
        </div>

        <div class="icons"  matTooltip="archive" *ngIf="!isArchive">
            <button class="buttons" >
                <img class="icon" src="../../../assets/Icons/archive.svg" width="20" height="20" (click)="moveToArchive()" alt="">
            </button>
        </div>
        <div class="icons"  matTooltip="unArchive" *ngIf="isArchive">
            <button class="buttons" (click)="unArchive()" >
                <img class="icon" src="../../../assets/Icons/unarchive_black_24dp.svg" width="20" height="20" alt="">
            </button>
        </div>

       
            <button class="buttons" matTooltip="more"  [matMenuTriggerFor] = menu >
                <img class="icons" src="../../../assets/Icons/more.svg" width="20" height="20" alt=""  >
                <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="moveToTrash()">Delete Note</button>  
                <button mat-menu-item>Add Label</button>  
                <button mat-menu-item>Add Drawing</button>  
                </mat-menu>
    
            </button>
    </div>  
    
    <div *ngIf="isTrashComponent" fxLayout="row">
        <div class="buttons" (click)="deleteForever()" matTooltip="Delete forever">
            <img class="icons" src="../../../assets/Icons/crossdelete (1).svg" alt="">
        </div>

        <div class="buttons"  (click)="restore()"  matTooltip="Restore">
            <img class="icons" src="../../../assets/Icons/deletearrow (1).svg" alt="">
        </div>
    </div>
    
</div>
