<!DOCTYPE html>
<html lang="en">
    <div class="container">
        <head>
            <link rel="stylesheet" href="./loginpassword.component.scss">
        </head>
        <div id="form-container" class="form" fxLayout="column" style="padding-top: 10%;">
            <form [formGroup]="passwordPage" (ngSubmit)="onSubmit()">
                <div class="FundooName" text-align="center">
                    <span id="Fletter">F</span>
                    <span id="Uletter">u</span>
                    <span id="Nletter">n</span>
                    <span id="Dletter">d</span>
                    <span id="Oletter">o</span>
                    <span id="O1letter">o</span>    
                    <div class="welcome">
                        <span id="signin-head">Welcome</span>
                    </div>
                </div>    
                <div class="password" fxLayout.xs="column" fxLayout.xs=100>
                    <mat-form-field id="password" appearance="outline">
                        <mat-label>Enter Your password</mat-label>
                        <input matInput placeholder="placeholder" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <mat-hint *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <mat-hint *ngIf="f.password.errors.required" class="error">password is required</mat-hint>
                            <mat-hint *ngIf="f.password.errors.minlength" class="pass-length" class="error">Password must be at least 6 characters</mat-hint>
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="show-password">
                    <section class="example-section">
                        <mat-checkbox class="example-margin">Show password</mat-checkbox>
                    </section>
                </div> 
                <div class="button-section" fxLayoutAlign="space-between" style="padding-top: 15%;">
                    <button mat-button class="button1" routerLink="/resetpassword">Forgot Password?</button>
                    <button mat-raised-button class="button2" type="submit" (click)="onSubmit()">Next</button>
                </div>
                <div class="lang">
                    <select name="langauge" id="langauge">
                        <option value="">English (United States)</option>
                        <option value="">English (United Kingdom)</option>
                        <option value="">Indonesia</option>
                    </select>
                </div>    
                <ul class="list" fxLayout="row">
                    <a href=""><li id="l1">Help</li></a>
                    <a href=""><li id="l2">Privacy</li></a>
                    <a href=""><li id="l3">Terms</li></a>
                </ul>
            </form> 
        </div>       
    </div>
</html>


