.container{
    position: relative;
    height: 400px;
    width: 450px;
    margin-top: 30px;
    border:1px solid gray ;
    margin: 6% auto;
    padding: 3% 2%;
    border-radius: 8px;
}
.FundooName{
    text-align: center;
    margin-top: -20px;
    font-size: 25px;
}
#Fletter{
    color: red;
}
#Uletter{
    color: #ffa500;
}#Nletter{
    color: blue;
}#Dletter{
    color: blue;
}
#Oletter{
    color: green;
}#O1letter{
    color:red;
}
.welcome{
    text-align: center;
    font-size: 25px;
    margin-top:  25px;
    color: black;
}
.password{
    margin-top: 40px;
    margin-left: 40px;
}
#password{
    width: 360px;
}
.show-password{
    position: relative;
    cursor: pointer;
    left: 50px;
    color: black;
    bottom: -5px;
}
.next-button{
    position: relative;
    float: right;
    right: 50px;
    top: 60px;

}
.button1{
    cursor: pointer;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    background-color: white;
    color: blue;
    font-weight: bolder;
    margin-left: 40px;
}
.button2{
    cursor: pointer;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    height: 30px;
    width: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    margin-right: 50px;
    font-weight: bolder;
}
.forgot-password{
    position: relative;
    left: 50px;
    top: 60px;
}
.lang{
    margin-left: -20px;
    margin-top: 125px;
}
#langauge{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.list{
    margin-left: 270px;
    margin-top: -20px;
}
#l1{
    display: flex;
    flex-direction: row;
    color: black;
    margin-right: 20px;
}
#l2{
    display: flex;
    color: black;
    flex-direction: row;
    margin-right: 20px;
}
#l3{
    display: flex;
    color: black;
    flex-direction: row;
    margin-right: 10px;
}
a:link{
    text-decoration: none;
}
.error{
    color: red;
}
@media only screen and (max-width: 599px) {
    .container{
        border:none;
        padding: 4%;
    }

    .button-section{
        margin-top: 10%;
    }
}